body {
    margin: 0 auto;
    padding: 1em;
    max-width: 800px;}

.oneof2 {
    float: left;
    width: 50%;}

.input-micro {
    height: 20px;
    width: 30px;}

.color-swatch {
    display: inline-block;
    height: 20px;
    width: 20px;}

.row-fluid .no-left-gutter {
    margin-left: 0;}

.right-align {
    text-align: right;}

.left-align {
    text-align: left;}

.action-bar {
	font-size: 85%;}