<html ng-app="CanvasExperiment">
<head>
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
<script type="text/javascript" src="angular.min.js"></script>
<title>&lt;canvas&gt; experiement</title>
<style>

body {
    margin: 0 auto;
    width: 1550px;}

.oneof2 {
    float: left;
    width: 50%;}

.input-micro {
    width: 45px;}

.color-swatch {
    display: inline-block;
    width: 20px;
    height: 20px;}

#map {
    border: 1px dotted gray;}

</style>
<script type="text/javascript">

// Array Remove - By John Resig (MIT Licensed)
Array.prototype.remove = function(from, to) {
    var rest = this.slice((to || from) + 1 || this.length);
    this.length = from < 0 ? this.length + from : from;
    return this.push.apply(this, rest);
};

var scale = 10;

/*
Notes:
Setting the width or height, even the current value, will clear the canvas
*/
function labelPoint(context, point) {
    var text = "(" + point[0] + ", " + point[1] + ")";
    var x = point[0]*scale, y = point[1]*scale;
    var textSize = context.measureText(text);
    x -= textSize.width/2;
    x = Math.min(745, Math.max(x, 0));
    y -= 5;
    y = Math.min(495, Math.max(y, 10));
    context.fillStyle = "#fff";
    context.fillText(text, x+0.5, y+0.5);
    context.fillStyle = "#333";
    context.fillText(text, x, y);
}

function drawPolygons(canvas, context, polys) {
    canvas.width = canvas.width;//clears
    context.strokeStyle = "#333";
    for (var i=0 ; i < polys.length ; i++) {
        if (!polys[i].color) polys[i].color = "#"+Math.floor(Math.random()*16777215).toString(16);
        context.fillStyle = polys[i].color;
        context.beginPath();
        context.moveTo(polys[i].vertexes[0][0]*scale - 0.5, polys[i].vertexes[0][1]*scale - 0.5);
        for (var j=1 ; j < polys[i].vertexes.length ; j++) {
            var point = polys[i].vertexes[j];
            context.lineTo(point[0]*scale - 0.5, point[1]*scale - 0.5);
        }
        context.lineTo(polys[i].vertexes[0][0]*scale - 0.5, polys[i].vertexes[0][1]*scale - 0.5);
        context.closePath();
        context.fill();
        context.stroke();// commit the strokes to the canvas
    }
    context.fillStyle = "#333";
    for (var i=0 ; i < polys.length ; i++) {
        for (var j=0 ; j < polys[i].vertexes.length ; j++) {
            labelPoint(context, polys[i].vertexes[j]);
        }
    }
}

var ce = angular.module("CanvasExperiment", []);

ce.filter('iif', function () {
    return function(input, trueValue, falseValue) {
        return input ? trueValue : falseValue;
    };
});

ce.controller("CanvasController", function ($scope) {
    var canvas = document.getElementById("map");
    var context = canvas.getContext("2d");
    
    $scope.exportCommand;
    
    $scope.polygons = [{
        vertexes: [[1, 1], [2, 1], [1, 2]]
    }];
    
    var storagons = localStorage.getItem("polygons");
    if (storagons) {
        $scope.polygons = JSON.parse(storagons);
    }
    
    $scope.addVertexToPolygon = function (polygon) {
        polygon.vertexes.push([3, 3]);
    };
    
    $scope.removeVertexFromPolygon = function (index, polygon) {
        polygon.vertexes.remove(index);
    };
    
    $scope.newPolyAdd = function () {
        var copy = angular.copy($scope.polygons[$scope.polygons.length-1]);
        copy.color = '';
        $scope.polygons.push(copy);
    };

    $scope.resetColor = function (index) {
        $scope.polygons[i].color = '';
    };
    
    $scope.removePolygon = function (index) {
        if ($scope.polygons.length < 2) return;
        $scope.polygons.remove(index);
    };
    
    $scope.export = function () {
        $scope.exportCommand = 'localStorage.setItem("polygons", \'' + JSON.stringify(angular.copy($scope.polygons)) + '\');';
    };
    
    $scope.$watch("polygons", function () {
        drawPolygons(canvas, context, $scope.polygons);
        localStorage.setItem("polygons", JSON.stringify($scope.polygons));
    }, true);
});

</script>
</head>
<body ng-controller="CanvasController">

<h2>&lt;canvas&gt; experiment</h2>

<div class="oneof2">
    <canvas id="map" width="750" height="500"></canvas>
    <p>
        <h4>Notes</h4>
        <ul>
            <li>Dotted border due to CSS styling, not &lt;canvas&gt; drawing</li>
            <li>Best viewed with resolution >= 1550x800</li>
            <li>Any changes to the right are saved in localStorage, so you <i>should</i> be able to refresh</li>
            <li>Click a color swatch on the right to change the display color</li>
        </ul>
    </p>
</div>

<div class="oneof2">
    <h4>Polygons</h4>
    <div ng-repeat="polygon in polygons">
        <span class="color-swatch" style="background-color: {{polygon.color}}" ng-click="polygon.color = ''"></span>
        <span ng-repeat="vertex in polygon.vertexes">(<input type="text" class="input-micro" ng-model="vertex[0]" value="vertex[0]" />, <input type="text" class="input-micro" ng-model="vertex[1]" value="vertex[1]" />) <a class="btn btn-warning btn-mini" ng-click="removeVertexFromPolygon($index, polygon)">-</a> </span>
        <a class="btn btn-success btn-mini" ng-click="addVertexToPolygon(polygon)">+vert</a>
        <a class="btn btn-danger btn-mini" ng-click="removePolygon($index)">-poly</a>
    </div>
    <div><a class="btn btn-primary btn-mini" ng-click="newPolyAdd()">+poly</a></div>
    
    <h4>Code</h4>
    <pre>var polygons = [<span ng-repeat="polygon in polygons">{{$index > 0 | iif : "," : ""}}
    {"id": {{$index}}, "vertexes": [<span ng-repeat="vertex in polygon.vertexes">{{$index > 0 | iif : ", " : ""}}[{{vertex[0]}}, {{vertex[1]}}]</span>]}</span>
];</pre>
    
    <a class="btn btn-primary btn" ng-click="export()">Export</a>
    <p><pre ng-show="exportCommand">{{exportCommand}}</pre></p>
</div>

</body>
</html>
